<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="C:SauceDemoTest">
        <parameter name="saucedemoURL" value="https://www.saucedemo.com"/>
        <parameter name="sBrowser" value="chrome"/>
        <classes>
            <class name="myTestcases.SauceDemoTest"/>

        </classes>
    </test>

</suite>